@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.pulse {
    animation: stretch 800ms ease-in alternate-reverse infinite;
}

@keyframes stretch {
    0% {
        transform: scale(.5);
    }

    100% {
        transform: scale(1.5);
    }

}